<div class="sidebar">
  <div class="sidebar-brand justify-content-center">
    <svg style="height:25px;" class="inline v-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.1 35.84">
      <defs>
        <style>
          .cls-2 {
            fill: #00B6CD;
          }
        </style>
      </defs>
      <path class="cls-2" d="M91.47,19.63a44.7,44.7,0,0,0-5.37-4.54A52.16,52.16,0,0,0,56.15,4.81c-12.5-.36-23.81,4.44-30.09,12.51a34.77,34.77,0,0,1,7.38,7.38C20.66,13.23,3.7,20.13,0,35.79-0.17,22.2,10,14,22.2,14.63c7-9.68,20-15,34-14.61C69.47,0.4,83.9,6,95.59,17c14.57,0.75,32,6.49,37.51,18.87-8.28-9.24-20.65-13.15-31.26-13.91A51.79,51.79,0,0,0,82.59,24.3a24.49,24.49,0,0,1,8.89-4.67h0Z"></path>
    </svg>
  </div>

  <ul class="sidebar-nav">
    <li class="nav-item">
      <a [routerLink]="'/admin'" class="nav-link" routerLinkActive="active">
        <i class="bi bi-house"></i> Admin
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'/user'" class="nav-link" routerLinkActive="active">
        <i class="bi bi-circle"></i> User
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-folder"></i> Listings
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-bar-chart"></i> Inventory
      </a>
    </li>
  </ul>

  <div class="nav-section-title">Service</div>
  <ul class="sidebar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-tools"></i>
        <span>Repairs</span>
        <span class="badge bg-danger ms-auto">3</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ms-3">Reporting</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ms-3">Deals</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ms-3">Leads</a>
    </li>
  </ul>

  <div class="nav-section-title">Account</div>
  <ul class="sidebar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-bell"></i> Notifications
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-gear"></i> Settings
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-question-circle"></i> FAQ
      </a>
    </li>
  </ul>
</div>