<!-- <div class="main-content">
  <div class="dropdown-container">
<app-cascaded-dropdowns [parentOptions]="bodyTypeOptions" [childOptions]="bodySubTypeOptions" [config]="{
    parentPlaceholder: 'Select Main Type',
    childPlaceholder: 'Select Sub Type'
  }"
  (selectionChange)="onCascadeSelectionChange($event)"></app-cascaded-dropdowns>
</div>
</div> -->
<div class="main-content">
  <div class="header">
        <div class="flex-grow-1">
            <div class="breadcrumb-text">Manage > User Screen</div>
            <h1 class="page-title">User Interlinked Dropdowns</h1>
        </div>
        <!-- <button class="btn btn-back">
                <i class="bi bi-arrow-left"></i> Go Back to Dashboard
            </button> -->
        <div class="d-none d-md-flex user-profile">
            <div class="profile-avatar">J</div>
            <div class="profile-info">
                <div class="profile-name">Josh</div>
                <div class="profile-company">FAST AND FURIOUS MOTORS XXL</div>
            </div>
        </div>
    </div>
  <div class="content-area">
    <div class="dropdown-container">
      <app-cascaded-dropdowns [parentOptions]="bodyTypeOptions" [childOptions]="bodySubTypeOptions" [config]="{
    parentPlaceholder: 'Select Main Type',
    childPlaceholder: 'Select Sub Type'
  }" (selectionChange)="onCascadeSelectionChange($event)"></app-cascaded-dropdowns>
    </div>
  </div>
</div>