<div class="d-flex align-items-end gap-2">
  <!-- Parent Select -->
  <div class="dropdown flex-fill" [class.disabled]="sortedParentOptions.length === 0">
    <label class="form-label">Vehicle Body Type</label>
    <button class="btn btn-custom-drpdwn dropdown-toggle" type="button" id="dropdownParentButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" [disabled]="sortedParentOptions.length === 0"
      (click)="parentDropdownOpen = !parentDropdownOpen">
      {{ selectedParentLabel }}
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownParentButton" [class.show]="parentDropdownOpen">
      <li *ngFor="let option of sortedParentOptions">
        <a class="dropdown-item" (click)="onParentChange(option.id); parentDropdownOpen=false">
          {{ option.label }}
        </a>
      </li>
    </ul>
  </div>


  <!-- Child Select -->
  <div class="dropdown flex-fill" [class.disabled]="filteredChildOptions.length === 0">
    <label class="form-label">Vehicle Body Sub Type</label>
    <button class="btn btn-custom-drpdwn dropdown-toggle" type="button" id="dropdownChildButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" [disabled]="filteredChildOptions.length === 0"
      (click)="childDropdownOpen = !childDropdownOpen">
      {{ selectedChildLabel }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownChildButton" [class.show]="childDropdownOpen">
      <li *ngFor="let option of filteredChildOptions">
        <a class="dropdown-item" (click)="onChildChange(option.id); childDropdownOpen=false">
          {{ option.label }}
        </a>
      </li>
    </ul>
  </div>
</div>